@model IEnumerable<浪愛有家.Models.Adoption>

@using 浪愛有家.Models

@{
    ViewBag.Title = "愛心領養";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<style>

    #title {
        display: flex;
        font-size: 40px;
        font-weight: 600;
        color: #ca6953c9;
    }

        #title:before, #title:after {
            content: "";
            flex: 1 1;
            border-bottom: 2px solid cadetblue;
            margin: auto;
        }

        #title:before {
            margin-left: 200px;
            margin-right: 50px;
        }

        #title:after {
            margin-right: 200px;
            margin-left: 50px;
        }
</style>

<span id="title">
    愛心領養<img src="~/photos/Logo/logo貓-紅.png" style="width:40px;" />
</span>

<br />

@*篩選縣市選單及篩選動物類型選單*@
@using (Html.BeginForm("Adoption_Index", "Adoption", FormMethod.Get))
{
    <div class="form-row">
        @Html.Label("CityName", "選擇縣市：", new { @class = "ml-5" })
        @Html.DropDownList("cityName", (SelectList)ViewBag.CityList, "全部縣市", new { @class = "form-control", style = "font-size:20px" })

        @Html.Label("AnimalKind", "選擇動物類型：", new { @class = "ml-5" })
        @Html.DropDownList("animalKind", (SelectList)ViewBag.AnimalKindList, "全部動物類型", new { @class = "form-control", style = "font-size:20px" })
        <button type="submit" class="btn Btn-Ado ml-4 mr-5">篩選</button>
    </div>
}

<br />

<div class="row row-cols-1 row-cols-md-3">

    @foreach (var item in Model)
    {
        <div class="col mb-3">
            <div class="card h-100">

                <img src="@Url.Action("ShowImage", new { id=item.AdoptionID })" class="card-img-top h-70" alt="Image">

                <div class="card-body">
                    <h3 class="card-title text-center font-weight-bold">@item.PetName</h3>
                    <p class="card-text text-center font-weight-bold">
                        <span>所在地：</span>
                        <span class="ml-2">@item.City.CityName @item.Country.CountryName</span>
                    </p>
                    <p class="card-text text-center">
                        <span>刊登日期：</span>
                        <span class="ml-2">@Html.DisplayFor(modelItem => item.PublicationDate)</span>
                    </p>
                    <div style="text-align: center;">
                        <button type="button" id="@item.AdoptionID" class="btn Btn-Ado" data-toggle="modal" data-target="#ShowDetailModal-@item.AdoptionID" onclick="getDetailData(event)">
                            詳細資訊
                        </button>
                    </div>
                </div>

            </div>
        </div>
    }

</div>

@foreach (var item in Model)
{
    <div class="modal fade" id="ShowDetailModal-@item.AdoptionID">
        <div class="modal-dialog modal-lg modal-dialog-scrollable">
            <div class="modal-content">

                <div class="modal-header justify-content-center Bg-Ado">
                    <h3 class="modal-title font-weight-bold">文章詳細資訊</h3>
                </div>

                <div class="modal-body">

                </div>

                <div class="modal-footer">
                    <span class="mr-auto">有意願者請撥打電話給 <span class="font-weight-bold">@item.Member.Name：@item.Member.Phone</span></span>
                    <button type="button" class="btn Btn-Ado" data-dismiss="modal">關閉</button>
                </div>

            </div>
        </div>
    </div>
}

@section scripts{
    <script>

        /*開啟送養文詳細資料*/

        function getDetailData(evt) {
            var baseUrl = '@Url.Content("~/")';  // 獲取專案的根路徑
            var detailUrl = baseUrl + "Adoption/_Adoption_Detail/" + evt.target.id;  // 拼接具體的路徑
            $(evt.target.dataset.target + ' .modal-body').load(detailUrl);
        }

    </script>
}







